body {
  /* color: white; */
  /* background-color: rgb(158, 158, 158); */
  padding: 50px;
}

.MuiAppBar-colorDefault-8, .MuiPaper-root-10 {
  background-color: white !important;
}

.MuiPaper-elevation4-17, .MuiPaper-elevation3-16 {
  box-shadow: none !important;
}

.credits a {
  text-decoration: none;
  color: #F59332;
}

.MuiButton-containedPrimary-83:hover, .MuiButton-containedSecondary-84:hover {
  background-color: #4D4D4D !important;
}


.MuiLinearProgress-colorPrimary-232, .MuiLinearProgress-colorPrimary-233 {
  background-color: #f5933269 !important;
}

.MuiLinearProgress-barColorPrimary-240, .MuiLinearProgress-barColorPrimary-241 {
  background-color: #4D4D4D !important;
}
